- content_for :blogtitle do
  All Blogs

- content_for :posttitle do
  Welcome

%table
  %thead
    %tr
      %th
        &nbsp;
      %th
        Name
      %th
        Author
      %th
        Left to read
      %th
        &nbsp;
  %tbody
    - @blogs.each_with_index do |blog, i|
      %tr
        %td
          #{i + 1}
        %td
          %a{:href => blog_path(:id => blog.id)} #{blog.name}
        %td
          - if blog.saved_posts.count > 1 then
            - fst = blog.saved_posts.first
            - if fst.picture then
              %img{:src => fst.picture, :style => 'height: 5em;'}/
              %br/
          - if blog.feed_url then
            = link_to blog.by, blog.feed_url
          - else
            = blog.by
        %td
          = blog.saved_posts.unread.count
        %td
          = form_tag fetch_path(:blog => blog.id), {:style => 'display: inline;', :method => :post} do
            %input{:type => :hidden, :value => blog.feed_url, :name => :feed}/
            %input{:value => 'Update', :type => :submit}/
          %br/
          = form_tag delete_blog_path(:blog => blog.id), {:style => 'display: inline;', :method => :post} do
            %input{:type => :hidden, :value => blog.id, :name => :blog}/
            %input{:value => 'Delete', :type => :submit}/
  %tfoot
    %tr
      %td
        &nbsp;
      %td
        &nbsp;
      %td
        &nbsp;
      %th
        &nbsp;
      %th
        &nbsp;
        - # Perhaps put an update-all button here.
