!!!
%html
  %head
    %title
      Read Later:
      = yield :blogtitle
      &raquo;
      = yield :posttitle
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %link{:href => 'http://fonts.googleapis.com/css?family=Alegreya:900italic,400italic,700italic,400,700,900|Varela+Round&subset=latin,latin-ext', :rel => 'stylesheet', :type => 'text/css'}/
    = csrf_meta_tags
  %body
    #main{:class => 'container'}
      #header
        #logohead
          Read Later
        #logotagline
          Fetch a whole blog&rsquo;s history, and read it slowly.
      #nav
        %a{:href => home_path} Home
        &nbsp;
        %a{:href => fetch_path} Add Blog
      #trunk
        .blogtitle
          = yield :blogtitle
        .posttitle
          = yield :posttitle
        .postbody
          = yield
      #footer
        &copy; 2012
